@model List<OurTeam>
@{
    Layout = null;
}
<section class="w3l-team" id="team">
    <div class="team-block py-5">
        <div class="container py-lg-5">
            <div class="title-content text-center">
                <h6 class="sub-title">Aşçılarımız</h6>
                <h3 class="title-big">Lezzet Ustaları</h3>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-sm-6 mt-lg-5 mt-4">
                        <div class="box16">
                            <a href="#url"><img src="@item.ImageUrl" alt="" class="img-fluid radius-image" /></a>
                            <div class="box-content">
                                <h3 class="title"><a href="#url">@item.Name @item.Surname</a></h3>
                                <span class="post">@item.Title</span>
                                <ul class="social">
                                    <li>
                                        <a href="@item.Facebook" class="facebook">
                                            <span class="fa fa-facebook-f"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@item.Twitter" class="twitter">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>